.git/
tests/
.devcontainer/
.git
.venv
.env
__pycache__
*.pyc
docs/
*.md
prometheus.yml
database_setup.sql
__pycache__/
pytest.ini
.DS_Store
.env

infra/
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.backup

k8s/
k8s/secrets.yaml

.github/
.vscode/

.uv/
.cache/
.gemini/
